#program {
    width: 90%;
    margin-top: 10px;
}

#program h2 {
    text-align: center;
}

#promotionInformation {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

#promotionInformation video {
    width: 500px;
}

#col1 {
    float: left;
    width: 45%;
    margin-right: 5%;
    text-align: center;
}

#informationTable table, th, td {
    border:1px black solid;
    border-collapse: collapse;
    padding: 10px;
    width: fit-content;
}

#informationTable th {
    background-color: rgba(0, 0, 0, 0.765);
    color: white;
}

#informationTable table {
    position: relative;
    width: 80%;
    margin: 15px auto;
    text-align: center;
}

#result table thead {
    background-color: rgb(171, 160, 160);
}

#informationTable table tbody > tr:nth-child(odd) {
    background-color: rgb(245, 241, 241);
}

#informationTable table tbody > tr:nth-child(odd):hover {
    background-color: pink;
}

#informationTable table tbody > tr:nth-child(even) {
    background-color: rgba(215, 204, 204, 0.862);
}

#informationTable table tbody > tr:nth-child(even):hover {
    background-color: rgb(235, 213, 197);
}