header {
    height: 60%;
}

header a #promotionalImage {
    justify-content: center;
    align-items: center;
    width: 100%;
}

header a #promotionalImage img {
    margin-top: 20px;
    margin-bottom: -20px;
    width: 100%;
}

.container {
    width: 100%;
}

.container #information {
    margin-top: 3%;
    width: 80%;
    border-color: rgba(0, 0, 0, 0.279);
    border-style: none solid;
    overflow: auto;
}

#information .info_col2, .info_col3 {
    text-align: justify;
}

#information .info_col1 {
    float: left;
    width: 25%;
    font-size: 3em;
    overflow: auto;
    font-weight: 600;
    color: #202525;
}

#information .info_col2 {
    float: left;
    width: 36%;
}

#information .info_col3 {
    float: right;
    width: 36%;
}

.container table {
    width:80%;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

#HKIUataGlance table caption {
    margin-bottom: 10px;
    background-color: #f5cfd3;
}

#HKIUataGlance table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
}

#HKIUataGlance thead {
    background-color: rgb(171, 160, 160);
}

#HKIUataGlance tbody > tr:nth-child(odd) {
    background-color: rgba(171, 160, 160, 0.158);
}

#HKIUataGlance tbody > tr:nth-child(odd):hover {
    background-color: pink;
}