
.welcome {
    width: 80%;
    text-align: center;
    margin-top: 60px;
}

#acknowledgement {
    width: 80%;
    margin-top: 35px;
    line-height: 2;
}

.list2 li, .firstIndent {
    margin-left: 20px;
}

.secondIndent {
    margin-left: 25px;
}

.thirdIndent {
    margin-left: 30px;
}



