.welcome {
    text-align: justify;
    position: relative;
    margin: 8vh auto;
    width: 90%;
    font-size: 1.08em;
    line-height: 1.5;
}

#location {
    width: 90%;
}

#location #col1 img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

#location #col1, #col2 {
    float: left;
    margin: 5px;
    overflow: auto;
}

#location #col1 {
    width: 50%;
    text-align: center;
}

#location #col2 {
    width: 45%;
}


#reservation {
    float: left;
    width: 100%;
    text-align: center;
    margin: 3% 0;
}

#reservation h3::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

#reservation h3:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#reservation h3::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #ee7faa9c;
    z-index: -1;
    transition: transform .6s ease;
}

#reservation h3 {
    position: relative;
    margin-bottom: 15px;
}



  

#bookInformation fieldset {
    width: 60%;
    text-align: left;
}

#bookInformation legend {
    margin-left: 3%;
    font-weight: 600;
}

#bookInformation label {
    display: inline-block;
    margin-left: 8%;
    width: 15%;
    text-align: right;
}

#error_container {
    padding-top: 15px;
    font-size: smaller;
}

#buttons {
    display: flex;
    margin-bottom: 10px;
    margin-left: 23.3%;
    width: 15%;
    text-align: left;
}

#buttons input[type ="submit"]{
    margin-right: 10%
}